ClangDebug/*
ClangRelease/*
tests/*
ClangAnalyze/*
GPerf/*
SharedLibrary_profile/*
SharedLibrary/*
*.o
*.d
*.so
/CMakeFiles
/api/python/build
/src/monosat/api/python/build
Release/*
Release2/*
Debug/*
Klee/*
coverage/*
Static/*
Win32/*
Win64/*
DbgRelease/*
TestRelease/*
Test/*
graph/resources/*
/DbgRelease
/Test
/Win64
*.pyc
lib/*
