/ClangDebug
/ClangRelease
/GPerf
*.o
*.d
*.so
Release/*
Release2/*
Debug/*
Klee/*
coverage/*
Static/*
Win32/*
Win64/*
DbgRelease/*
TestRelease/*
Test/*
graph/resources/*
/DbgRelease
/Test
/Win64
*.pyc
