/ClangDebug
/ClangRelease
/GPerf
*.o
*.d
*.so
/CMakeFiles
/api/python/build
/src/monosat/api/python/build
Release/*
Release2/*
MinSizeRel/*
RelWithDebInfo/*
SharedLibraryDbg/*
Debug/*
Klee/*
MinSizeRel/*
RelWithDebInfo/*
SharedLibraryDbg/*
cmake-build-debug/*
cmake-build-minsizerel/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
coverage/*
Static/*
Win32/*
Win64/*
DbgRelease/*
TestRelease/*
Test/*
graph/resources/*
/DbgRelease
/Test
/Win64
*.pyc
tests/local/
